<mat-grid-list
    cols="4"
    rowHeight="100vh"
>
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1"
        [style.background]="'lightblue'"
    >
        <app-add-btns
            class="fm-mb-8"
            (onAddFolders)="addFoldersToMainFolder()"
            (onAddFiles)="addFilesToMainFolder()"
        ></app-add-btns>
        <mat-tree
            [dataSource]="dataSource"
            [treeControl]="treeControl"
            cdkDropList
            [cdkDropListData]="list"
            (cdkDropListDropped)="drop($event)"
        >
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node
                *matTreeNodeDef="let node"
                matTreeNodePadding
                cdkDrag
            >
                <!-- use a disabled button to provide padding for tree leaf -->
                <button
                    mat-icon-button
                    disabled
                ></button>
                <div
                    class="fm-name"
                    (click)="edit(node)"
                >
                    <mat-icon>{{node.icon}}</mat-icon>
                    <span
                        class="fm-ml-8"
                        [textContent]="node.name"
                    ></span>
                </div>
                <app-add-btns
                    class="fm-ml-8"
                    *ngIf="node.type == 'FOLDER'"
                    (onAddFolders)="addFolders(node)"
                    (onAddFiles)="addFiles(node)"
                ></app-add-btns>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node
                *matTreeNodeDef="let node;when: hasChild"
                matTreeNodePadding
                cdkDrag
            >
                <button
                    mat-icon-button
                    matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.name"
                >
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <div
                    class="fm-name"
                    (click)="edit(node)"
                >
                    <mat-icon>{{node.icon}}</mat-icon>
                    <span
                        class="fm-ml-8"
                        [textContent]="node.name"
                    ></span>
                </div>
                <app-add-btns
                    class="fm-ml-8"
                    *ngIf="node.type == 'FOLDER'"
                    (onAddFolders)="addFolders(node)"
                    (onAddFiles)="addFiles(node)"
                ></app-add-btns>
            </mat-tree-node>
        </mat-tree>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1"
        [style.background]="'lightgreen'"
    >
        <app-edit-element></app-edit-element>
    </mat-grid-tile>
</mat-grid-list>
